*.Rhistory
*.bin
*.ipynb_checkpoints/
*.maxrep
*.o
*.pyc
*.rds
*.s
*.stree
*.t
*Make.helper
.Rproj.user
/*.sdsl
fast_ms/bin/
fast_ms/malloc_count
fast_ms/tests/answers
py_interface/.idea
sdsl-lite/extras
tests/code_test/dump_test_inputs
