input/rnd_*
input/mut*

range_queries/*.checked
range_queries/*.txt
range_queries/*.ms

ms_construction/makefile.legacy
max_range_queries/*.check
max_range_queries/*.correct
max_range_queries/*.trivial
max_range_queries/*.indexed
max_range_queries/*.fast
max_range_queries/*.t.ms.none
max_range_queries/*.t.ms.rle
max_range_queries/*.t.ms.rrr
max_range_queries/*.t
max_range_queries/*.d
max_range_queries/*.txt
max_range_queries/*.csv
max_range_queries/rmq



