mut_*.s
mut_*.t
rnd_*.t
rnd_*.s
rep_*.s
rep_*.t

mut_*.s.stree
mut_*.t.stree
rnd_*.t.stree
rnd_*.s.stree
rep_*.t.stree
rep_*.s.stree

mut_*.s.rev.maxrep
rnd_*.s.rev.maxrep
rep_*.s.rev.maxrep


datasets/proteins.50MB

input_stats_data/mut*.csv
input_stats_data/rnd*.csv
input_stats_data/old/rnd*.csv
sada_vs_ohleb_data



parent_tests/small/input_data
parent_tests/input_data
wl_tests/small/input_data
wl_tests/input_data
parallelization_data/small/input_data
parallelization_data/input_data
current_performance/small/input_data
current_performance/input_data
input_stats_data/small/input_data
input_stats_data/input_data

current_performance/small/*csv
input_stats_data/small/*csv
parent_tests/small/*csv
wl_tests/small/*csv
parallelization_data/small/*csv

current_performance/utils.py
genome_tests/utils.py
parallelization_data/utils.py
single_rank_vs_double_rank/utils.py
input_stats_data/utils.py
double_rank_and_fail/utils.py
lazy_vs_nonlazy_data/utils.py
sada_vs_ohleb_data/utils.py
use_maxrepeat/utils.py

report/new_report_files/*
report/report_files/*
