*.Rhistory

mut_*.s
mut_*.t
rnd_*.t
rnd_*.s
rep_*.s
rep_*.t


*.s.rev.maxrep
*.t.rev.maxrep

*/old/
*/small/
*/medium/
*/big/
*/input_data
*/sandbox/input_data


datasets/proteins.50MB
datasets/big_paper2
datasets/medium_paper2

*/utils.py

report/new_report_files/*
report/report_files/*


sada_vs_ohleb_data
use_maxrepeat
xcode_bin

code_test/ms_results
