<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>dump_cst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>etst_wt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>fd_ms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>sa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test_select_support.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9600B7FF1E388F82006F2605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>960186081DDAD50300FFCB38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963BBD5B1E367D7700E7D9EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>967C75D41DB0BCEE009970B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>967C75EA1DB0C31B009970B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>967C75F91DB0C735009970B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96808D9E1DFFBFB500F5D60F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96AAD4161DCD2A2A0054A7DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
