<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bin_to_txt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>bitvector_select_rank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>bp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>bstep_performance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>compute_maxrep.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>dump_cst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>dump_maxrep.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>etst_wt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>fail_vs_nonfail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>fd_ms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>fill_vector_in_parallel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>input_stats.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>lazy_wl_performance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>sa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>sada_fd_ms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>sanbox_parent_calls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>sandbox_selectatdist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>sandbox_test_maxrep.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>single_vs_double_rank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test_select_support.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>vec_agg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>wl_and_parent_stats.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9600B7FF1E388F82006F2605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>960186081DDAD50300FFCB38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96098EBB1EA6DE3D004C5F7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>961A181D1E3AE610008D1E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963048D11E95DDF000A28BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963048E01E96147900A28BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963048EB1E9614F900A28BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963048FA1E96E81700A28BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96329F791E4867F8006167C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963BBD5B1E367D7700E7D9EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>965B90401F6C56EA004B1583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>965E21211F56A298009F3347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>966B6DCB1E778EAB005BAF6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96702BC31E41D3A80013BAFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>967C75D41DB0BCEE009970B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>967C75EA1DB0C31B009970B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>967C75F91DB0C735009970B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96808D9E1DFFBFB500F5D60F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>969625B61EEA6C690075D9CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96AAD4161DCD2A2A0054A7DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96B75C151F7A205400F78ECD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96B9CE7D1ED35BD600302A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96B9CE911ED3F7F000302A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96DF3AAB1E73E73B005C1006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96EF0D8D1EC2D51F0065BF4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96F15D431E3D2CD700F2AD5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96F5F6071E73E07F00D07E14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
